@font-face {
    font-family: 'Anglodavek';
    src: url('Anglodavek.woff2') format('woff2'),
        url('Anglodavek.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

