.PrintMarker {
    --PrintMarker-length: 3mm;
    --PrintMarker-width: 0.25mm;
    position: absolute;
    z-index: 1;
}

.PrintMarker__top {
    top: var(--PrintMarker-bleed-top);
}
.PrintMarker__right {
    right: var(--PrintMarker-bleed-right);
}
.PrintMarker__bottom {
    bottom: var(--PrintMarker-bleed-bottom);
}
.PrintMarker__left {
    left: var(--PrintMarker-bleed-left);
}
.PrintMarker_vertical {
    position: absolute;
    left: calc(var(--PrintMarker-width) / -2);
    height: var(--PrintMarker-length);
    width: 0;
    border-left: var(--PrintMarker-width) solid var(--PrintMarker-color, black);
}
.PrintMarker_vertical__top {
    bottom: calc(var(--PrintMarker-offset) + var(--PrintMarker-bleed-top));
}
.PrintMarker_vertical__bottom {
    top: calc(var(--PrintMarker-offset) + var(--PrintMarker-bleed-bottom));
}
.PrintMarker_horizontal {
    position: absolute;
    top: calc(var(--PrintMarker-width) / -2);
    height: 0;
    width: var(--PrintMarker-length);
    border-top: var(--PrintMarker-width) solid var(--PrintMarker-color, black);
}
.PrintMarker_horizontal__left {
    right: calc(var(--PrintMarker-offset) + var(--PrintMarker-bleed-left));
}
.PrintMarker_horizontal__right {
    left: calc(var(--PrintMarker-offset) + var(--PrintMarker-bleed-right));
}
