:root {
    --spacing: 20px;
    --color-fire-1: #f63c01;
    --color-fire-2: #f97d02;
    --color-fire-3: #f8a700;
    --color-fire-4: #fdda00;
    --color-fire-5: #fef24f;
    --color-blood-1: #870108;
    --color-blood-2: #a80000;
    --color-blood-3: #bd3535;
    --color-blood-4: #d96161;
    --color-blood-5: #feb2b2;
    --color-lightning-1: #01365c;
    --color-lightning-2: #08537d;
    --color-lightning-3: #1378c4;
    --color-lightning-4: #71d3d0;
    --color-lightning-5: #b4fcd5;
    --color-acid-1: #83c30a;
    --color-acid-2: #cfe10c;
    --color-acid-3: #ecea00;
    --color-acid-4: #fefb98;
    --color-acid-5: #fffeeb;
    --color-curse-1: #e6158e;
    --color-curse-2: #f962a9;
    --color-curse-3: #faa3cd;
    --color-curse-4: #fed4ed;
    --color-curse-5: #fff2ff;
    --font-heading: "sans-serif";
    --font-body: "sans-serif";
}

.App {
    box-sizing: border-box;
    min-height: 100vh;
    min-width: 100vw;
}
